* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: #D988FC;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding: 15px 0;
    color:  #D988FC;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color:  #D988FC;
    color: #fff;
}
.active {
    background-color:  #D988FC;
    color: #fff;
}
.banner{
    height: 60vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217, 136, 252, .6);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: #D988FC;
    margin-bottom: 20px;
}
.about  {
    text-align: center;
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    padding-bottom: 100px;

}

footer {
    padding: 30px 0;
    background-color: #530086;
    color: #fff;
    text-align: center;
}
.label {
    background-color: #D988FC;
    color: #fff;
}
.service {
    text-align: center;
    color: #D988FC;
}